@model M0502.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        .validation-summary-errors, .field-validation-error{
            color:red;
        }

        .validation-summary-valid, .field-validation-valid{
            display:none;
        }
    </style>
</head>
<body>
    
    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {
        @Html.LabelFor(m=>m.ProductName)
        <br/>
        @Html.EditorFor(m=>m.ProductName, new 
        { 
            htmlAttributes = new
            {
                @class = "Names", placeholder = "Proporciona el nombre"
            }
        })

        <br />
        @Html.LabelFor(m=>m.Discontinued)
        @Html.EditorFor(m=>m.Discontinued)
        <br />
        @Html.EditorFor(m=>m.ProductID)
    }
</body>
</html>
