@model M0502.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <h3>Producto: @Model.ProductName</h3>
    <div>
        @Html.DisplayNameFor(m => m.ProductName)
    </div>
    <div>
        @Html.DisplayFor(m => m.ProductName)
    </div>
    <div>
        @Html.DisplayNameFor(m => m.UnitPrice)
    </div>
    <div>
        @Html.DisplayFor(m => m.UnitPrice)
    </div>

</body>
</html>
